.benefits {
    margin-top: 200px;

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__caption {
        background-color: #2c343e;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 100px 0 317px;
        gap: 32px;
        border-radius: 10px;

        & h2 {
            color: #f3fcf7;
            font-size: 40px;
            font-weight: 900;
            line-height: 48px;
        }

        & p {
            text-align: center;
            max-width: 540px;
            color: #f3fcf7;
            font-family: "Barlow", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            opacity: 0.8;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: -250px;

        &-item {
            padding: 72px 47px 48px;
            width: 350px;
            background-color: #0e8784;
            border-radius: 8px;

            display: flex;
            align-items: center;
            flex-direction: column;
            color: #f3fcf7;
            text-align: center;

            & img {
                width: 71px;
                height: 72px;
                object-fit: contain;
            }

            &__content {
                margin-top: 56px;

                & h3 {
                    color: #f3fcf7;
                    font-size: 24px;
                    font-weight: 900;
                    line-height: 32px;
                }

                & p {
                    opacity: 0.8;
                    color: #f3fcf7;
                    text-align: center;
                    font-family: "Barlow", sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .benefits__caption {
        padding-bottom: 400px;
    }

    .benefits__list {
        margin-top: -300px;
        flex-direction: column;
        align-items: center;
    }

    .benefits__list-item {
        padding: 41px 48px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 55.5px;
        width: 573px;
    }

    .benefits__list-item__content {
        margin-top: 0;
        text-align: left;

        & p {
            text-align: left;
        }
    }
}