/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'Young Serif';
    src: url('./font/YoungSerif-Regular.woff') format('woff'),
        url('./font/YoungSerif-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Poppins';
    src: url('./font/transfonter/Poppins-Thin.woff2') format('woff2'),
        url('./font/transfonter/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./font/transfonter/Poppins-ExtraLight.woff2') format('woff2'),
        url('./font/transfonter/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./font/transfonter/Poppins-Light.woff2') format('woff2'),
        url('./font/transfonter/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./font/transfonter/Poppins-Regular.woff2') format('woff2'),
        url('./font/transfonter/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./font/transfonter/Poppins-Medium.woff2') format('woff2'),
        url('./font/transfonter/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./font/transfonter/Poppins-Bold.woff2') format('woff2'),
        url('./font/transfonter/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./font/transfonter/Poppins-ExtraBold.woff2') format('woff2'),
        url('./font/transfonter/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./font/transfonter/Poppins-Black.woff2') format('woff2'),
        url('./font/transfonter/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Poppins';
}

.box1 {
    font-weight: 100;
}

.box2 {
    font-weight: 200;
}

.box3 {
    font-weight: 300;
}

.box4 {
    font-weight: 400;
}

.box5 {
    font-weight: 500;
}

.box6 {
    font-weight: 600;
}

.box7 {
    font-weight: 700;
}

.box8 {
    font-weight: 800;
}

.box9 {
    font-weight: 900;
}

