* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1120px;
    margin: 0 auto;

}

.navbar {
    margin-top: 135px;
    margin-bottom: 80px;
}

.nav {
    display: flex;
    justify-content: space-between;

}

.nav__lists {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav__link {
    text-decoration: none;
    color: black;
    opacity: 0.5;
    font-weight: 500;
    font-weight: bold;
    transition: all 0.3s ease;
}

    .activ a, .nav__link:hover{
        opacity: 1;
    }

    .content {
        display: flex;
        columns: unset;
        max-width: 415px;
        line-height: 56px;

    }

    .kontent, h2 {
        display: flex;
        columns: unset;
        max-width: 415px;
        line-height: 56px;
    }

    .hero {
        margin-bottom: 170px;
        background-image: url();
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right 290px;
    }