* {
    margin: 0;
    padding: 0;
}

.box {
    /* height: 100vw; */
    /* height: 100vh; */
    /* max-height: 200px; */
    /* min-height: 200px; */
    /* background: red; */
    /* overflow: scroll; */
    /* padding: 20px;
    padding: 20px 15px 10px 5px; */
    /* width: 400px; */
    /* margin-left: auto;
    margin-right: auto; */
    /* margin: 20px; */
    /* margin: 10px 20px; */
    /* margin: 10px 20px 15px; */
    /* margin: 20px 15px 10px 5px; */
    /* margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; */
    /* padding: 20px; */
    /* max-width: 400px; */
    /* min-width: 1000px; */
}

/* Descendant selector */
/* .box p {
    color: red;
} */

/* Child selector */
/* .box > p span {
    color: red;
} */

/* .innerBox .info + h2 {
    color: red;
} */

/* .innerBox .info ~ p {
    color: red;
} */

/* grouring selector */
/* .paragraph, .info, .text {
    font-size: 22px;
} */

/* .font-22 {
    font-size: 22px;
} */

/* Named color */
/* body {
    color: red;
} */

/* RGB => RED, GREEN, BLUE */
/* body {
    color: rgb(107, 73, 202);
} */

/* RGB => RED, GREEN, BLUE, ALPHA */
body {
    color: rgba(107, 73, 202, 0.555);
}

/* HEX */
/* body {
    color: #e327277e;
} */